@{
    ViewBag.Title = "About";
}
<h2>ПРО НАС</h2>

<hr>

<div>
    <div class="article">
        <h3>КредитМаркет пропонує:</h3>
        <ul>
            <li>кредити на будь-які потреби;</li>
            <li>оформлення кредиту без застави та поручителів, тільки при наявності паспорта та коду;</li>
            <li>відсутність додаткових прихованих комісій, платежів, страховок і перших внесків.</li>
        </ul>
        <h3>Компанія КредитМаркет</h3>
        <p>
            <span style="font-weight: 400;">
                КредитМаркет - є фінансовою компанією, яка входить в групу кредитних спілок УКРАЇНСЬКА ФІНАНСОВА ГРУПА "КРЕДИТНА СПІЛКА».
                Єдиний вид діяльності компанії – надання позик фізичним особам.
                Ми зареєстровані Національною комісією, яка здійснює державне регулювання у сфері ринків фінансових послуг, свідоцтво про реєстрацію фінансової установи ІК №589.
            </span>
            <span style="font-weight: 400;">
                Наші реквізити:
                ТОВ «КРЕДИТ МАРКЕТ ФІН КОМП», ЄДРПОУ 386981, 08132, м. Київ, вул.Європейська, буд. 26, оф. 407
                +38 044 356 38 22 ,  +38 099 356 38 22, info@creditmarket.com.ua
            </span>
            <h3>Для отримання позики потрібні:</h3>
            <ul>
                <li>фото оригіналу паспорту та коду</li>
                <li>наявність банківської картки</li>
                <li>вік від 18 до 75 років</li>
                <li>доступ до інтернету</li>
            </ul>
            <div><a class="btn btn-primary" href="http://localhost:62564/Orders/Create">Оформити заявку <i>на отримання кредиту</i></a></div>

            <h3>Процес отримання позики:</h3>
            <ul>
                <li><span style="font-weight: 400;">Переходьте на сайт КредитМаркету.</span></li>
                <li><span style="font-weight: 400;">За 10 хвилин заповнюйте заявку на отримання кредиту.</span></li>
                <li><span style="font-weight: 400;">Очікуйте дзвінка співробітника кредитної спілка з повідомленням про рішення про надання кредиту.</span></li>
                <li><span style="font-weight: 400;">При позитивному рішенні, кредит надсилається на вашу банківську картку.</span></li>
            </ul>
            <h3>Розмір і вартість позики</h3>
            <ul>
                <li><span style="font-weight: 400;">сума процентів за користування кредитом залежить від розміру кредиту та терміну користування;</span></li>
                <li><span style="font-weight: 400;">терміни користування кредитом можна продовжувати, сплативши проценти за користування;</span></li>
                <li><span style="font-weight: 400;">при достроковому погашенні проценти за користування кредитом перераховуються.</span></li>
            </ul>
</div>
       
         <p>Процентна ставка</p>
        <p><span style="font-weight: 400;">Приклад розрахунку: при сумі кредиту в 1000 грн проценти  за користування коштами складуть 1 грн в день, що приблизно становить 0,01% в день, якщо термін повернення позики не пізніше 1го місяця. Ніяких додаткових комісій і платежів за користування кредитом Компанія не стягує.</span></p>

    </div>
    

