<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

            .slider:hover {
                opacity: 1;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #0000A0;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #0000A0;
                cursor: pointer;
            }
    </style>
</head>
<body>


    <h1>Розрахувати кредит</h1>

    <div class="slidecontainer">
        <p>Сума: <span id="amount"></span></p>
        <input type="range" min="1000" max="10000" value="1000" class="slider" id="amountRange" step="500">

    </div>
    <br />
    <div class="slidecontainer">
        <p>Термін: <span id="period"></span></p>
        <input type="range" min="1" max="30" value="1" class="slider" id="periodRange" step="1">
    </div>

    <br />

    <p>До сплати в кінці терміну: <span id="procent">1000</span></p>

    <script>
        var amountSlider = document.getElementById("amountRange");
        var amount = document.getElementById("amount");
        var periodSlider = document.getElementById("periodRange");
        var procent = document.getElementById("procent");
        amount.innerHTML = amountSlider.value;

        amountSlider.oninput = function () {
            amount.innerHTML = this.value;
            procent.innerHTML = myFunction(amountSlider.value, periodSlider.value);
        }

        function myFunction(p1, p2) {
            return p1 * p2;
        }
    </script>

    <script>
        var amountSlider = document.getElementById("amountRange");
        var periodSlider = document.getElementById("periodRange");
        var period = document.getElementById("period");
        var procent = document.getElementById("procent");
        period.innerHTML = periodSlider.value;

        periodSlider.oninput = function () {
            period.innerHTML = this.value;
            procent.innerHTML = myFunction(amountSlider.value, periodSlider.value);
        }

        function myFunction(p1, p2) {
            return parseInt(p1) + p1 * p2 * 0.0001;
        }
    </script>

</body>
</html>
