@{
    ViewBag.Title = "CreditMarket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        .main-holder {
            position: relative;
            color: #22425b;
            border-radius: 3px;
            width: 100%;
            background-size: cover;
        }

        .form-for-slider {
            width: 25%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background: rgba(255, 255, 255, .8);
            padding: 25px 15px;
        }

        .slidecontainer {
            width: 100%;
        }

        .description-container {
            display: flex;
            justify-content: space-between;
        }

        .col-3 {
            width: 25%;
            padding: 10px;
            text-align: center;
        }

        .description-title {
            font-weight: 700;
        }

        .credit-title {
            text-align: center;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

            .slider:hover {
                opacity: 1;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #0000A0;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 40%;
                background: #0000A0;
                cursor: pointer;
            }
    </style>
</head>
<body>

    <div class="main-holder">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/Content/Images/banner1.jpg" alt="ASP.NET" class="img-responsive" />
                </div>
                <div class="item">
                    <img src="/Content/Images/banner3.jpg" alt="Visual Studio" class="img-responsive" />
                </div>
                <div class="item">
                    <img src="/Content/Images/banner2.jpg" alt="Package Management" class="img-responsive" />
                </div>
                <div class="item">
                    <img src="/Content/Images/banner4.jpg" alt="Microsoft Azure" class="img-responsive" />
                </div>
            </div>
        </div>

        <div class="form-for-slider">
            <h3>Розрахувати кредит</h3>
            @using (Html.BeginForm("NavigateToOrder", "Home"))
            {
                <div class="slidecontainer">
                    <p>Сума: <span id="amount" name="amount"></span> грн.</p>
                    <input type="range" min="1000" max="10000" value="1000" class="slider" id="amountRange" step="500">

                </div>
                <br />
                <div class="col-md-8">
                    <select id="periodList"></select>
                </div>
                <br />
                <br />
                <p>До сплати в кінці терміну: <span id="procent">1000</span> грн.</p>

                <br />
                <br />
                <button onclick="getAmountAndPeriodValues()" type="submit" class="btn btn-primary">Оформити заявку</button>

            }
        </div>
    </div>

    <section>
        <h2 class="credit-title">ОФОРМИТИ КРЕДИТ</h2>
        <div class="description-container">
            <div class="col-3">
                <div>
                    <img alt="" title="Моментально">
                </div>
                <span class="description-title">Моментально</span>
                <p>Отримайте перший кредит на картку під 0,01% за декілька хвилин, не виходячи з дому.</p>
            </div>		<div class="col-3">
                <div>
                    <img alt="" title="Просто">
                </div>
                <span class="description-title">Легко</span>
                <p>Щоб взяти позику онлайн, необхідно мати банкісвьку картку та інтернет!</p>
            </div>		<div class="col-3">
                <div>
                    <img alt="" title="Прозоро">
                </div>
                <span class="description-title">Прозоро</span>
                <p>Низька процентна ставка на позики без додаткових платежів та комісій.</p>
            </div>
            <div class="col-3">
                <div>
                    <img alt="" title="Безпечно">
                </div>
                <span class="description-title">Безпечно</span>
                <p>Усі фінансові операції та персональні дані клієнтів надійно захищені.</p>
            </div>
        </div>
    </section>

</body>
</html>
@section scripts
{
    <script>
        $(document).ready(function () {
            $.get("/api/loans", function (data) {
                $.each(data, function (index, value) {
                    $("select").append("<option>" + value.name + "</option>");
                });
            });
        });
    </script>

    <script>
        function getAmountAndPeriodValues() {
            var getAmount = document.getElementById("amount").innerText;
            localStorage.setItem("amountValue", getAmount);
            var periodList = document.getElementById("periodList");
            var getPeriodValue = periodList.options[periodList.selectedIndex].text;
            $.get("/api/loans", function (data) {
                $.each(data, function (index, value) {
                    if (value.name == getPeriodValue) {
                        localStorage.setItem("periodValue", value.id);
                    }
                });
            });
        }
    </script>

    <script>
        var amountSlider = document.getElementById("amountRange");
        var amount = document.getElementById("amount");
        var periodList = document.getElementById("periodList");
        var periodValue = periodList.options[periodList.selectedIndex].text;
        var procent = document.getElementById("procent");
        amount.innerHTML = amountSlider.value;

        amountSlider.oninput = function () {
            amount.innerHTML = this.value;
            $.get("/api/loans", function (data) {
                $.each(data, function (index, value) {
                    if (value.name == periodValue) {
                        procent.innerHTML = calcLoan(amountSlider.value, value.period);
                    }
                });
            });
            
        }

        function calcLoan(p1, p2) {
            return parseInt(p1) + p1 * p2 * 0.0001;
        }
    </script>

    
}