@model IEnumerable<CreditMarket.Models.Order>
@{
    ViewBag.Title = "Заявки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Список заявок</h2>
<a class="btn btn-primary" href="/Orders/Create" role="button">Створити заявку</a>
<br>
<br>
<table id="orders" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Номер заявки</th>
            <th>ПІБ клієнта</th>
            <th>Назва кредиту</th>
            <th>Сума кредиту</th>
            <th>Термін</th>
            <th>Дата подачі заявки</th>
            <th>Статус заявки</th>
            <th>Дата погодження/відмови</th>
            <th>Видалити</th>
            <th>Редагувати</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#orders").DataTable({
                ajax: {
                    url: "/api/orders",
                    dataSrc: ""
                 },
                columns: [
                    {
                        data: "id",
                        render: function (data, type, order) {
                            return "<a href='/orders/details/" + order.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "fullName"                        
                    },
                    {
                        data: "loan.name"
                    },
                    {
                        data: "amount"
                    },
                    {
                        data: "loan.period"
                    },
                    {
                        data: "creationDate",
                        render: function (data) {
                            return data.split('T')[0];
                        }
                        
                    },
                    {
                        data: "orderStatus"
                    },
                    {
                        data: "approvedDate",
                        render: function (data) {
                            return data.split('T')[0];
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-order-id=" + data + ">Видалити</button>";
                        }
                    },
                    {
                        data: "id",
                        render: function (order) {
                            return "<a href='/orders/edit/" + order.id + "' class='btn btn-primary'>Редагувати</a>";
                      }

                }
                ]
            });
            $("#orders").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this loan?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/orders/" + button.attr("data-order-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
